<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <!-- Maven Central Repository -->
        <server>
            <id>central</id>
            <username>${maven.repo.username}</username>
            <password>${maven.repo.password}</password>
        </server>

        <!-- OSSRH (Sonatype) Repository -->
        <server>
            <id>ossrh</id>
            <username>${maven.repo.username}</username>
            <password>${maven.repo.password}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>release</id>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>${gpg.passphrase}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>release</activeProfile>
    </activeProfiles>

</settings>
